{{ i }}

<p>Fechas</p>
<p *ngFor="let date of dateList">
  {{ date }}
</p>

<div *ngIf="showInfo">
  <p><button (click)="stopSound()">Detener alarma</button></p>
  <p>AVISARLE A LEO QUE FECHA ESTA DISPONIBLE (Aqui arribita sale la fecha disponible)</p>
  <p>Ir a <a href="https://www.migracioncolombia.gov.co/agendarsucita"
      target="_blank">https://www.migracioncolombia.gov.co/agendarsucita</a>
  </p>
  <p>1. Darle a agendar cita</p>
  <p>2. Seleccionar bogota - Seleccionar la unica sede que hay</p>
  <p>3. En tipo de tramite, poner cedula de extranjeria - Seleccionar por primera vez</p>
  <p>4. La fecha se auto pone en el campo, asi que no toca cambiarla</p>
  <p>5. Darle a buscar</p>
  <p>6. Agarrar el horario que este disponible</p>
  <p>7. Llenar el formulario para la cita</p>
  <br><br>
  <p>Nombre: Leonardo Andres Jimenez Pernia</p>
  <p>Pasaporte: 129380052</p>
  <p>Email: jimenezleonardop@gmail.com</p>
</div>